<div class="text-center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-primary btn-lg" %>
</div>

<%= link_to image_tag("logo(2).svg", alt: "Rails", class: "center-block", id: "shield"), 'http://school15.tyumen-edu.ru/' %>
