@import "bootstrap";

/* mixins, variables, etc. */

	$grayMediumLight: #eaeaea;

	/*
		$gray-darker => #222
		$gray-dark => #333
		$gray => #555
		$gray-light => #777
		$gray-lighter => #eee
	*/

/* universal */

	body { 
		padding-top: 70px;
	}

	section {
		overflow: auto;
	}

	textarea {
		resize: vertical;
	}

/* typography */

	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	h1 {
		font-size: 3em;
		letter-spacing: -2px;
		margin-bottom: 30px;
		text-align: center;
	}

	h2 {
		font-size: 1.2em;
		letter-spacing: -1px;
		margin-bottom: 30px;
		text-align: center;
		font-weight: normal;
		color: $gray-light;
	}

	p {
		font-size: 1.1em;
		line-height: 1.7em;
	}

/* header */

	#logo {
		font-size: 1.7em;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}

/* content */

	#shield {
		width: 300px;
	}

/* footer */

	footer {
		margin-top: 45px;
		padding-top: 5px;
		border-top: 1px solid $grayMediumLight;
		color: $gray-light;
		a {
			color: $gray;
			&:hover {
				color: $gray-darker;
			}
		}
		small {
			float: left;
		}
		ul {
			float: right;
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
			}
		}
	}